@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --azul1:#1DA1F2;
    --azul2: #55acee;
    --azul3: #8ec1da;
    --azul4: #7ecef8;
    --azul5: #c0deed;
    --azul-escuro:#007BFF;
    --preto: #292f33;
    --preto2:  #14171a;
    --cinza-claro: #e1e8ed;
    --cinza-escuro:  #657786;
    --Cinza:#aab8c2;
    --cinza-ccc: #ccc;
    --branco: #f4f4f4;
    --branco2: #e6edf1;
}

body{
    background: var(--cinza-ccc);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 80px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 14px;
    background: var(--branco);
}

.form h1{
    color: var(--azul1);
    text-align: center;
    font-size: 40px;
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;;
}

input[type="email"], input[type="password"],[type="text"]{
    border: 1px solid var(--cinza-ccc);
    color: var(--preto);
    outline: none;
    font-size: 14px;
    border-radius: 16px;
    padding: 12px 10px;
    width: 250px;
    font-family: "Poppins", sans-serif;
}

input[type="email"]::placeholder, input[type="password"]::placeholder, [type="text"]::placeholder{
    color: var(--preto);
}

.esqueceu-senha{
    display: flex;
    justify-content: right;
    font-size: 12px;
}

.esqueceu-senha a{
    font-size: 12px;
    color: var(--azul1);
    transition: all 0.3s ease-in-out;
}

.esqueceu-senha a:hover{
    font-weight: bold;
    color: var(--azul-escuro);
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
}

.input-box button{
    background: var(--azul1);
    color: var(--branco);
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.input-box button:hover{
    background: var(--azul-escuro);
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
}

.nao-conta{
    font-size: 12px;
    color: var(--cinza-escuro);
}

.nao-conta a{
    color: var(--azul1);
    transition: all 0.3s ease-in-out;
    margin-left: 4px;
}

.nao-conta a:hover{
    font-weight: bold;
    color: var(--azul-escuro);
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
}