@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --azul1:#1DA1F2;
    --azul2: #55acee;
    --azul3: #8ec1da;
    --azul4: #7ecef8;
    --azul5: #c0deed;
    --azul-escuro:#007BFF;
    --preto: #292f33;
    --preto2:  #14171a;
    --cinza-claro: #e1e8ed;
    --cinza-escuro:  #657786;
    --Cinza:#aab8c2;
    --cinza-ccc: #ccc;
    --branco: #f4f4f4;
    --branco2: #e6edf1; 
}

body {
  font-family: 'poppins', sans-serif;
  background: var(--branco2);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 70px;
    background: var(--preto2);
    font-family: 'Poppins', sans-serif;
}

header h1{
    color: var(--azul1);
    font-size: 30px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav a{
    color: var(--azul1);
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 7px;
    transition: all 0.1s ease-in-out;
}

.nav a:hover{
    background: var(--cinza-claro);
    transition: all 0.1s ease-in-out;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes button{
    width: 90px;
    padding: 4px 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background: var(--azul1);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.botoes button:hover{
    background: #1781C2;
    transition: all 0.3s ease-in-out;
}

.botoes i{
    margin-left: 5px;
    font-size: 14px;
}

.status{
    display: block;
}

.status img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 100%;
}z

.status:hover{
    cursor: pointer;
}

.status:hover .dropdown{
    display: block;
}

.dropdown{
    display: none;
    position: absolute;
    background: var(--preto);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown a{
    display: block;
    padding: 12px 20px;
    color: var(--azul1);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    text-align: left;
}

.dropdown a:hover{
    background: var(--preto2);
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
}

.dropdown i{
    margin-left: 10px;
    font-size: 14px;
}


.container{
   display: flex;
   justify-content: center;
   margin: 1.8% 30%;
   background: var();
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.conteudo-container{
    display: flex;
    flex-direction: column;
    gap: 20px ;
    width: 100%;
    margin: 4% 7%;
}

.conteudo-container h1{
    color: var(--Azul-gelo);
}

.conteudo-container p{
    color: var(--cinza-escuro);
    font-size: 17px;
}

.label{
    display: flex;
    flex-direction: column;
    color: var(--preto);
    gap: 6px;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    border-radius: 12px;
    border: 2px dashed var(--azul1);
    cursor: pointer;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.img:hover{
    background: var(--cinza-claro);
    border: 2px dashed var(--azul-escuro);
    transition: all 0.3s ease-in-out;
}

.img input{
    color: var(--Azul-gelo);
    display: none;
}

.icon i{
    color: var(--Azul-gelo);
    font-size: 30px;
}

.texto-img{
    color: var(--Azul-gelo);
}

.nome,.descricao,.buscando,.tecnologias,
.previsao{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nome label,.descricao label,.buscando label,
.tecnologias label{
    color: var(--preto);
}

input[type="text"] {
    width: 100%;
    padding: 12px 8px;
    border-radius: 8px;
    border: 2px solid var(--cinza-ccc);
    outline: none;
    background: transparent;
    color: var(--preto);
}

input[type="text"]:focus {
    border: 2px solid var(--azul1);
}

input[type="text"]::placeholder{
    color: var(--preto);
}

.previsao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.previsao label{
  color: var(--preto);
}

.inicio,.fim{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.inicio input[type="date"],.fim input[type="date"]{
    width: 100%;
    padding: 12px 8px;
    border-radius: 8px;
    border: 2px solid var(--cinza-ccc);
    outline: none;
    background: transparent;
    color: var(--preto);
}

.inicio input[type="date"]::placeholder,
.fim input[type="date"]::placeholder{
    color: var(--preto)
}

.inicio input[type="date"]:focus,
.fim input[type="date"]:focus{
    border: 2px solid var(--azul1);
}

.button button{
    width: 200px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: var(--azul1);
    border: none;
    border-radius: 10px;
    color: var(--branco2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button button:hover{
    background: var(--azul-escuro);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.button button i{
    margin-right: 5px;
    font-size: 18px;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 70px;
    background: var(--preto2);
    color: var(--azul1);
    font-family: 'Poppins', sans-serif;
}


@keyframes fade{
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

.fade-in{
    animation: fade 1s ease-out;
}
