@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --neon-blue: #5b63f6;
    --cool-gray: #7e88b3;
    --anti-flash-white: #f5f7fa;
    --charcoal: #2c3e50;
    --turquesa: #3dd5c0;
    --preto: #000;
    --maneira: #D6EFFF;
}

body {
  font-family: 'poppins', sans-serif;
  background: rgb(28, 28, 31);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    background: #E3F9E5;
    color: var(--preto);
    font-family: 'Poppins', sans-serif;
}

header h1{
    color: #8c24ff;
    font-size: 30px;
}

nav a{
    margin: 10px;
    text-decoration: none;
    color: #7B3FE4 ;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover{
    background: rgba(108, 58, 224, 0.3);
    transition: all 0.3s ease-in-out;
}

.botoes{
    display: flex;
    gap: 30px;
    align-items: center;
}

.botoes button{
    width: 100px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: #7B3FE4;
    border: none;
    border-radius: 10px;
    color: #E3F9E5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.botoes button:hover{
    background: #6C3AE0;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.botoes button i{
    margin-right: 5px;
    font-size: 18px;
    align-items: center;
}

.container{
   display: flex;
   justify-content: center;
   margin: 1.8% 30%;
   background: rgba(255,255,255,0.05);
   border-radius: 12px;
}

.conteudo-container{
    display: flex;
    flex-direction: column;
    gap: 20px ;
    width: 100%;
    margin: 4% 7%;
}

.conteudo-container h1{
    color: #D6EFFF;
}

.conteudo-container p{
    color: #7B3FE4;
    font-size: 18px;
}


.label{
    display: flex;
    flex-direction: column;
    color: #D6EFFF;
    gap: 6px;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background: rgba(255,255,255,0.05);
    border-radius: 12px;
    border: 2px dashed rgba(255,255,255,0.2);
    cursor: pointer;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.img:hover{
    background: rgba(255,255,255,0.09);
    border: 2px dashed rgba(255,255,255,0.8);
    transition: all 0.3s ease-in-out;
}

.img input{
    color: #D6EFFF;
    display: none;
}

.icon i{
    color: #D6EFFF;
    font-size: 30px;
}

.texto-img{
    color: #D6EFFF;
}

.nome,.descricao,.buscando,.tecnologias,
.previsao{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nome label{
    color: #D6EFFF;
}

.descricao label{
    color: #D6EFFF;
}

.buscando label{
    color: #D6EFFF;
}

.tecnologias label{
    color: #D6EFFF;
}

input[type="text"] {
    width: 100%;
    padding: 12px 8px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.1);
    outline: none;
    background: transparent;
    color: #D6EFFF;
}

input[type="text"]::placeholder{
    color: #D6EFFF;
}

.previsao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.previsao label{
    color: #D6EFFF;
}

.inicio,.fim{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.button button{
    width: 200px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background: #7B3FE4;
    border: none;
    border-radius: 10px;
    color: #E3F9E5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button button:hover{
    background: #6C3AE0;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.button button i{
    margin-right: 5px;
    font-size: 18px;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px 70px;
    margin-top: 140px;
    background: #E3F9E5;
    color: #8c24ff;
}

footer h2{
    font-size: 25px;
}

footer span{
    font-size: 15px;
}

@keyframes fade{
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

.fade-in{
    animation: fade 1s ease-out;
}
