@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --preto: #000;
    --Azul-gelo: #D6EFFF;
    --primaria: #8c24ff;
    --secundara: #7B3FE4;
    --hover: #6C3AE0;
    --cinza:#ccc;
    --branco: #f4f4f4;
    --placeholder: #808080;
}

body{
    background: var(--Azul-gelo);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'poppins', sans-serif;
}

.areaLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    gap: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 50px;
}

.areaLogin h1{
    color: var(--primaria);
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.areaLogin p{
    color: var(--placeholder);
    font-size: 16px;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    font-family: "Outfit", sans-serif;
}

.input-nome input{
    width: 130px;
    padding: 0.8rem 0.75rem;
    border: 1px solid var(--cinza);
    padding-left: 12px;
    border-radius: 1rem;
    outline: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: var(--placeholder);
}

.input-box input[type="text"],
.input-box input[type="password"]{
    width: 260px;
    padding: 0.8rem 0.75rem;
    border: 1px solid var(--cinza);
    padding-left: 12px;
    border-radius: 1rem;
    outline: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: var(--placeholder);
}

.input-box input[type="text"]::placeholder,
.input-box input[type="password"]::placeholder{
    color: var(--placeholder);
}

.esqueceu-senha a{
    color: var(--primaria);
    transition: all 0.3s ease-in-out;
}

.esqueceu-senha a:hover{
    color: var(--preto);
    transition: all 0.3s ease-in-out;
}

.botao button[type="submit"]{
    width: 260px;
    padding: 0.57rem 0.75rem;
    border: none;
    padding-left: 12px;
    border-radius: 1rem;
    outline: none;
    background: var(--secundara);
    color: var(--branco);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
}

.botao button[type="submit"]:hover{
    background: var(--hover);
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
}

.cadastrar{
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 5px 0px;
}

.cadastrar p{
    color: var(--placeholder);
    font-size: 14px;
}

.cadastrar a{
    color: var(--primaria);
    transition: all 0.3s ease-in-out; 
    font-family: "Outfit", sans-serif;
    font-size: 14px;
}

.cadastrar a:hover{
    color: var(--preto);
    transition: all 0.3s ease-in-out; 
}


.voltar a{
    color: var(--primaria);
    transition: all 0.3s ease-in-out;
}

.voltar a:hover{
    color: var(--preto);
    transition: all 0.3s ease-in-out;
}

