@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --azul1:#1DA1F2;
    --azul2: #55acee;
    --azul3: #8ec1da;
    --azul4: #7ecef8;
    --azul5: #c0deed;
    --azul-escuro:#007BFF;
    --preto: #292f33;
    --preto2:  #14171a;
    --cinza-claro: #e1e8ed;
    --cinza-escuro:  #657786;
    --Cinza:#aab8c2;
    --branco: #f4f4f4;
    --branco2: #e6edf1;
}

body {
  font-family: 'poppins', sans-serif;
  background: var(--branco);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 70px;
    background: var(--preto2);
    font-family: 'Poppins', sans-serif;
}

header h1{
    color: var(--azul1);
    font-size: 30px;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes button{
    width: 90px;
    padding: 4px 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background: var(--azul1);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.botoes button:hover{
    background: #1781C2;
    transition: all 0.3s ease-in-out;
}

.botoes i{
    margin-left: 5px;
    font-size: 14px;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 70px;
    gap: 30px;
}

.projetos h2{
    font-size: 35px;
    color: var(--preto);
}

.projetos p{
    font-size: 17px;
    color: var(--cinza-escuro);
}

.button-projeto{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 115px;
}

.button-projeto button{
    width: 150px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--azul1);
    border: none;
    border-radius: 10px;
    color: var(--branco);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-projeto button:hover{
    background: var(--azul-escuro);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.button-projeto i{
    margin-right: 5px;
}

.projeto-card{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 0px 110px;
    gap: 20px;
}

.card{
    height: 850px;
    width: 500px;
    background: var(--cinza-claro);
    border-radius: 30px;
}

.card img{
    width: 100%;
    height: 25%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.conteudo-card{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 10px 15px;
    gap: 25px;
}

.conteudo-card h3{
    color: var(--azul-escuro);
    font-size: 26px;
    font-weight: 600px;
}

.conteudo-card p{
    color: var(--cinza-escuro);
    font-size: 17px;
    font-weight: 400px;
}

.tec{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    gap: 5px;
}

.tec h5{
    font-size: 20px;
    color: var(--azul-escuro);
}
.spantec{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.tec span{
    background: var(--azul1);
    border-radius: 5px;
    padding: 3px 10px;
    color: var(--preto);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.tec span:hover{
    background: var(--azul-escuro);
    transition: all 0.3s ease-in-out;
}

.topicos{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    gap: 5px;
}

.topicos h5{
    font-size: 20px;
    color: var(--azul-escuro);
}

.span-topicos{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.span-topicos span{
    background: var(--azul1);
    border-radius: 5px;
    padding: 3px 10px;
    color: var();
    font-size: 14px;
} 

.span-topicos span:hover{
    background: var(--azul-escuro);
    transition: all 0.3s ease-in-out;
}

.vagas{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    gap: 5px;
}

.vagas h5{
    font-size: 20px;
    color: var(--azul-escuro);
}

.vagas i{
    margin-right: 10px;
}

.vagas-span{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.vagas-span span{
    background: var(--azul1);
    border-radius: 5px;
    padding: 3px 10px;
    color: var(--Azul-gelo);
    font-size: 14px;
}

.vagas span:hover{
    background: var(--azul-escuro);
    transition: all 0.3s ease-in-out;
}

.data{
    display: flex;
}

.data span{
    font-size: 14px;
    color: var(--azul-escuro);
}

.data input{
    border:none;
    background: none;
    outline: none;
    font-size: 14px;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.contato button{
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--azul1);
    border: none;
    border-radius: 10px;
    color: var(--verde-claro);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

 .contato button:hover{
    background: var(--azul-escuro);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.contato i{
    margin-right: 8px;
}

.like{
    margin-right: 30px;
}

.like i{
    font-size: 18px;
}

.voltar-proximo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px;
}

.voltar-proximo button{
    width: 250px;  
    padding: 10px 15px;
    border-radius: 15px;
    background: var(--azul1);
    color: var(--branco2);
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

.voltar-proximo button:hover{
    transform: scale(1.03); 
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    background: var(--azul-escuro);
}

.voltar-proximo i{ 
    margin-right: 20px;
    font-size: 17px;
}

.voltar-proximo span{
    color: var(--Azul-gelo);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 70px;
    background: var(--preto2);
    color: var(--azul1);
    font-family: 'Poppins', sans-serif;
}

@keyframes fade{
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

.fade-in{
    animation: fade 1s ease-out;
}

